---
import type { MarkdownHeading } from "astro";
import { cx } from "@/utils/cx";
import TocIcon from "./ui/toc-icon.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const sharedHeadingClass = cx(
  "truncate py-1.5 hover:opacity-70 duration-100 transition-opacity",
);
---

<div
  class={cx(
    "hidden xl:block xl:sticky xl:top-16 space-y-2 xl:rounded-md",
    "mb-5 md:my-0 text-sm p-4",
    "h-[calc(100vh-65px)] overflow-y-auto"
  )}
>
  <div class="flex items-center space-x-2 mb-1 opacity-70">
    <TocIcon />
    <p>On this page:</p>
  </div>
  <div class="flex flex-col xl:max-w-60">
    {
      headings.map((heading) => {
        if (heading.depth == 2) {
          return (
            <a
              href={`#${heading.slug}`}
              class={cx(sharedHeadingClass)}
              title={heading.text}
            >
              {heading.text}
            </a>
          );
        } else if (heading.depth == 3) {
          return (
            <a
              href={`#${heading.slug}`}
              class={cx(
                sharedHeadingClass,
                "pl-4",
              )}
            >
              <span title={heading.text}>{heading.text}</span>
            </a>
          );
        } else if (heading.depth == 4) {
          return (
            <a
              href={`#${heading.slug}`}
              class={cx(
                sharedHeadingClass,
                "pl-7",
              )}
            >
              <span title={heading.text}>{heading.text}</span>
            </a>
          );
        }
      })
    }
  </div>
</div>
