---
import type { MarkdownHeading } from "astro";
import { cx } from "@/utils/cx";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const sharedHeadingClass = cx(
  "truncate py-1.5 hover:opacity-70 duration-100 transition-opacity",
);
---

<aside
  class={cx(
    "hidden xl:block",
    "text-sm",
    "bg-gray-900 border-l border-gray-800"
  )}
>
  <nav class="sticky top-20 pl-4 w-[300px]">
    <div class="flex opacity-70 text-lg font-bold">
      <span>On this page</span>
    </div>
    <div class="flex flex-col">
      {
        headings.map((heading) => {
          if (heading.depth == 2) {
            return (
              <a
                href={`#${heading.slug}`}
                class={cx(sharedHeadingClass, "font-semibold")}
                title={heading.text}
              >
                {heading.text}
              </a>
            );
          } else if (heading.depth == 3) {
            return (
              <a
                href={`#${heading.slug}`}
                class={cx(
                  sharedHeadingClass,
                  "pl-4" , "font-semibold"
                )}
              >
                <span title={heading.text}>{heading.text}</span>
              </a>
            );
          } else if (heading.depth == 4) {
            return (
              <a
                href={`#${heading.slug}`}
                class={cx(
                  sharedHeadingClass,
                  "pl-7",
                )}
              >
                <span title={heading.text}>{heading.text}</span>
              </a>
            );
          }
        })
      }
    </div>
  </nav>
</aside>
