---
import type { MarkdownHeading } from "astro";

import { CalendarIcon, TagIcon, FlameIcon } from "lucide-react";

import PageContent from "@/components/page-content.astro";
import Headings from "@/components/headings.astro";
import Sidebar from "@/components/sidebar/sidebar.astro";

import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";

import InicioDoc from "@/pages/inicio.mdx";
import Badge from "@/components/ui/badge.astro";

import { convertCategory } from "@/utils/convertCategory";
import LastEntries from "@/components/ui/last-entries.astro";

// Docs layout props:
export interface Props {
  title: string;
  description: string;
  category: string;
  docUrl: string;
  publishDate?: string;
  headings?: MarkdownHeading[];
}

const { title, description, category, publishDate, docUrl, headings } =
  Astro.props;
---

<ViewTransitions />

<div class="flex flex-col xl:flex-row ml-0 xl:justify-center h-full">
  

  <PageContent
    title={title}
    description={description}
    category={category}
    publishDate={publishDate}
    url={docUrl}
  >
    <slot />
  </PageContent>
  
  <LastEntries />
</div>
