---
import type { MarkdownHeading } from "astro";

import { ViewTransitions } from "astro:transitions";

import InicioDoc from "@/pages/inicio.mdx";

import LastEntries from "@/components/ui/last-entries.astro";
import LayoutDocs from "@/layouts/layoutDocs.astro";

// Docs layout props:
export interface Props {
  title: string;
  description: string;
  category: string;
  docUrl: string;
  publishDate?: string;
  headings?: MarkdownHeading[];
}

const { title, description, category, publishDate, docUrl, headings } =
  Astro.props;
---

<ViewTransitions />

  <LayoutDocs
    title={title}
    description={description}
    category={category}
    publishDate={publishDate}
    headings={[]}
    docUrl={docUrl}
  >
    <section class="flex flex-col xl:flex-row">
      <article>
        <InicioDoc />
      </article>
      <LastEntries />
    </section>
    
  </LayoutDocs>
