---
import type { MarkdownHeading } from "astro";

import PageContent from "@/components/page-content.astro";
import Headings from "@/components/headings.astro";
import Sidebar from "@/components/sidebar/sidebar.astro";
import CopyToClipboard from "@/components/copyToClipboard.astro";

import { ViewTransitions } from "astro:transitions";

// Docs layout props:
export interface Props {
  title: string;
  description: string;
  category: string;
  docUrl: string;
  publishDate?: string;
  headings?: MarkdownHeading[];
}

const { title, description, category, publishDate, docUrl, headings } =
  Astro.props;
---

<ViewTransitions />

<div class="flex justify-center h-[calc(100vh-65px)]">
  <CopyToClipboard />
  <Sidebar />
 
  <PageContent
    title={title}
    description={description}
    category={category}
    publishDate={publishDate}
    url={docUrl}
  >
    <slot />
  </PageContent>
  {headings && headings.length > 0 && 
    <Headings headings={headings} />
  }
</div>
